.parent{
    display: flex;
    flex-direction: row;
    gap:20px;
    border: 1px solid #ccc;
    padding: 20px 10px;
    border-radius: 10px;
}
.onlyDropdownDivs{
    width:40%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.categoryDiv{
    width:50%;
}

.typeDiv{
    width:50%;
}
.inputDiv {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-height: 38px;
    height: 38px;
    background-color: white;
}

.inputDivParent{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.inputSelected{
    border: 2px solid #2684FF;
}
.inputDiv input{
    border: none;
    width: 100%;
    background-color: transparent;
}
.inputDiv input:focus {
    outline: none;
}
@media (max-width: 1000px) {
    .categoryDiv{
        width:100%;
    }
    
    .typeDiv{
        width:100%;
    }
    .onlyDropdownDivs{
        width: 100%;
    }
    .parent{
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        gap:20px;
        border: 1px solid #ccc;
        padding: 20px 10px;
        border-radius: 10px;
    }
    .inputDivParent{
        width:100%;
    }
}

.typeIcon{
    height:30px;
    width:auto;
    display: flex;
}
.typeSelector{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.labelClass{
    display: flex; 
    justify-content: center;
    align-items: center;
}

.searchIconContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchIconContainer img{
    padding-left: 10px;
    padding-right: 5px;
    width: auto;
    height: 20px;
}