.meal {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
  }
  
  .meal h3 {
    margin: 0 0 0.25rem 0;
  }
  
  .other{
    display:flex;
    gap: 10px;
    margin-top:10px;
    font-size: 0.8rem;
  }
  .other img{
    width:25px;
    height:auto;
  }
  .description {
    font-style: italic;
    font-size:0.75rem;
  }
  
  .price {
    margin-top: 0.25rem;
    font-weight: bold;
    color: #e80c7a;
    font-size: 1.25rem;
  }
  .quantityParent{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .quantity{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e80c7a;
    color: white;
    border-radius: 5px;
    padding: 0 5px;
    font-weight: 500;
    font-style: italic;
  }
  .formDiv{
    display: flex;
    flex-direction: column-reverse;
  }